# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
package-lock.json
yarn.lock
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# testing
/coverage
.nyc_output

# next.js
/.next/
/out/

# production
/build
/dist

/.github

/.vscode
.idea/
*.sublime-project
*.sublime-workspace

# misc
.DS_Store
*.pem
.env.development.local
.env.test.local
.env.production.local
.env.local
.env

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
logs
*.log

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# PWA files
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/fallback-*.js
**/public/precache.*.js

# Sentry
.sentryclirc

# storybook
storybook-static

# Cache
.eslintcache
.cache
